@import 'tailwindcss';

@import '../lib/theme/tokens.css';
@import '../lib/theme/typography.css';
@import '../lib/theme/foundation.css';
@import '../lib/theme/colors.css';

/* 2) COMPONENT LAYERS AFTER TOKENS */
@import '../lib/theme/components.css';

#storybook-root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  justify-content: center;
  display: flex;
}

.docblock-colorpalette > div > div:first-child {
  flex: 0 0 20%;
}

.sb-color-item > div > div:first-child {
  flex: 0 0 20%;
}
.sb-color-item > div > div:last-child {
  position: relative;
}

.sb-color-item > div > div:last-child > div > div {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.sb-color-item > div > div > div:last-child > div > div::before {
  max-width: 4.5rem;
}
